.pagination {
  padding-left: 0;
  list-style: none;
  display: inline-flex;
  background-color: #fff;
  border-radius: 4px;

  li {
    display: flex;
    cursor: pointer;


    a {
      padding: 10px;
    }
  }
  
  &__activePage {
    background-color: #F8485E;
  }

  &__activeLink {
    color: #fff;
  }
}
